body{

    background-color: blue;
}
.resposta{
    margin: 20px;
    padding: 5px;
    text-align: center;
}
.errada{
    background-color: yellow;
    border: 2px dotted orange;
    outline: 2px dashed red;
    color: red;
}
.correta{
    background-color:lightgreen;
    border: 2px dotted green;
    outline: 2px dashed darkgreen;
    color: blue
}